@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-grey: #f9cdcd;
  --white: #f4f4f4;
  --black: #252422;
}

@font-face {
  font-family: Satoshi;
  src: url(../public/fonts/Satoshi-Variable.ttf) format("ttf"),
    url(../public/fonts/Satoshi-VariableItalic.ttf) format("ttf");
  font-display: swap;
}
